* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

body {

    font-family: 'Assistant', sans-serif;
    line-height: 1.4;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
}

nav {
    width: 100%;
    height: 60px;
    background-color: white;
    margin-bottom: 40px;
    position: fixed;
}

.container{
    height: 90vh;
    background: url('img/cover.jpg') no-repeat center center/cover;
    background-position: top;
 
 }
  
 .container h1{
   padding-top: 200px;
   padding-left: 100px;
  }
 
  .container p{
     padding-top: 10px 100px;
     padding-left: 100px;
 }
 
 .container-2 {
     height:100px;
     width: 100%;
     margin-top: 300px;
     background: url('img/cover.jpg') no-repeat center center/cover;
 }
  
 .container-2 h1{
    padding-top: 200px;
    padding-left: 100px;
   }
  
 .container-2 p{
      padding-top: 10px;
      padding-left: 100px;
  }
 

nav ul li{
    float: left;
    list-style: none;
    padding: 0px 2px;
    position: relative;
    margin: 0px 20px;
   
    
}

nav ul li a{
    display: block;
    line-height: 1.4;
    font-size: 14px;
    padding: 20px 15px;
    text-decoration: none;
    color: black;
    text-align: center;
 
}
nav ul li a:hover{
    color: #39ff14;
    
}
nav ul li ul{
    display: none;
    position: absolute;
    background-color: white;
    padding: 8px;
}


nav ul li:hover ul{
    display: block;
    color: #39ff14;
}

nav ul li ul li{
    width: 180px;
 }

nav ul li ul li a{
   padding: 10px 15px;
}

nav ul li ul li a:hover{
    background-color: #39ff14;
    color: black;
    width: 100%;
 }

 /* Center Website */

.main{
  max-width: 1000px;
  margin: auto;
}

.container a{
    display: inline-block;
    width: 80px;
    margin-left: 100px;
    margin-top: 20px;
    padding: 8px 5px;
    border:1px solid #39ff14;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    color: black;
    cursor: pointer;
 }

.container a:hover{
    color: black;
    background-color:#39ff14;
    cursor: pointer;
 }

 #readMore{
    width: 80px;
    margin: 2px 0;
    padding: 8px 5px;
    border:1px solid #39ff14;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    color: black;
    cursor: pointer;
}

#readMore a{
text-decoration: none;
color: black;
}

#readMore a:hover{
    color: #39ff14;
    width: 80px;
    cursor: pointer;
}


.skill-button img{

    margin: 10px;
    padding: 30px 20px;
    border:1px solid chartreuse;
    flex-direction: row;
    
}


.graph-web{
    margin: 50px 0px;
    
}
.graph-web a{
    
    padding: 10px 20px;
    border:1px solid chartreuse;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;   
    position: fixed;
       
}
.svg{
   
    width: 400px;
    margin: auto;
   
}
.svg a{
    
    width: 80px;
    border: 1px chartreuse;
    margin: 60px 20px;
    padding: 8px 10px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    color: black;
    cursor: pointer;  
       
}

.svg a:hover{
    background-color: chartreuse;

}

.svg-centre{
    margin: 20px 0px;
}

#services{
    margin: auto;
    display: inline-flex;
    padding: 100px;
    width: 60%;
    background-color: rgb(231, 228, 228);
}

mark {
    background-color: chartreuse;
    color: black;
}

 footer{
     background-color: black;
     color: white;
     height: 100%;
     width: 100%;
     display: inline-flex;
     justify-content: space-between;
     padding: 50px 80px;
 }


#contact{
    margin: 20px 0px;
}

#testimonials{
    margin: 20px 0px;

}

/* Contact form stylings*/

#cont-text{
    text-align: center;
    margin: 20px 0px;
}

#cont-text hr{
    width: 50px;
    margin: auto;
    border:1px solid #39ff14;
}

.contact-items {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.contact {
	background-color:rgb(231, 228, 228);
    background-size: cover;
    width: 100%;
	background-position: center;
	padding: 80px 0px;
	position: relative;
    z-index: 1;
    margin-top: 20px;
}

.contact-items h3 {
	color: black;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.contact-items input[type="text"] {
	border: 10px;
	margin-bottom: 15px;
	padding: 15px;
	width: 50%;
}

.contact-items textarea {
	border: 10px;
	height: 150px;
	padding: 15px;
	width: 50%;
}

.contact-items a {
	color: black;
	display: inline-block;
	background-color: rgb(231, 228, 228);;
	margin-top: 25px;
	padding: 15px 80px;
    text-decoration: none;
    border:1px solid #39ff14;
}

.contact-items a:hover {
	color: black;
	background-color: #39ff14;

}


.svg-button{

    margin: 10px  ;
    padding: 10px 10px;
    border:1px solid chartreuse;
    
}

.column {
    float: left;
    width: 15%;
    padding: 5px 20px;
    text-align: center;
    min-width: 125px;
   
  
}

.column img{
    border:1px solid #39ff14;
    padding: 15px;
    align-content: center;

  }

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10vw;
 
}

.row h3{
    font-weight: bold;
    margin: 10px 0px;
}

.expertise h3{
    text-align: center;
    margin: 10px 0px;
}
.expertise hr{
width: 50px;
margin: auto;
border:1px solid #39ff14;
}

.expertise-2{
text-align: center;
margin: 20px;
}
.expertise-2 hr{
width: 50px;
margin: auto;
border:1px solid #39ff14;
}

.skill-button{
  display: flex;
  justify-content: center;
  align-items: center;


}

/* services styling */

#service-row {
    display: flex;
    justify-content: center;
    background-color: rgb(226, 225, 225);
    padding: 60px 10px;
    width: 60%;
    margin: auto;
   
}
#service-row .service-column{
    width: 33%;
}
#service-row h4{
    font-size: 14px;
    text-align: center;
    padding: 10px;
    
}

#service-row p{
    font-size: 14px;
    text-align: center;
    padding: 0px 20px;
}


.bar-container{
    box-sizing: content-box;
    height: 20px;
    background-color:  rgb(68, 67, 67);
    position: relative;
    border-radius: 25px;
}

.bar-container > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: chartreuse;
}

.bar-container > span p{
  color: indigo;
}

/* social media icons */

.social-icons {
    position: fixed; 
    top: 40%;
    -webkit-transform: translateY(-60%);    /* vertically align 50% from top of the screen */
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
    margin: 10px 15px;
}

.social-icons a{
    display: block;
    text-align: center;
    border:1px solid #39ff14;
    padding: 16px;
    transition: all 0.3s ease;
   
 }

 .social-icons a:hover{
     background-color:#39ff14;
 }

/* Card styling */

.test-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 600px) {
    .test-container {
      flex-direction: column;
    }
  }


  .test-container img{
   max-width: 100%;
   margin: 0px 10px;

  }

  .view-more {
    display: block;
    text-align: center;
    margin: 20px 0px;
 }



  /* Carousel Element */
  #carousel {
    display: grid;
    grid-template-columns: 30px 70vw 30px;
    grid-template-rows: 15fr 1fr;
    grid-template-areas:
      "leftCaret content rightCaret"
      "......... bullets ..........";
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  /* Carousel Carets */
  #carousel #carousel-left,
  #carousel #carousel-right {
    background: none;
    border: none;
    outline: none;
    font-size: 4em;
    color: grey;
    transition: all 0.2s linear;
  }
  #carousel #carousel-left:hover,
  #carousel #carousel-right:hover {
    color: black;
  }
  /* Carousel Grid Item Positioning */
  #carousel #carousel-left {
    grid-area: leftCaret;
  }
  #carousel #carousel-right {
    grid-area: rightCaret;
  }
  #carousel #carousel-container {
    grid-area: content;
    position: relative;
    width: 30%;
    padding: 2%;
    margin: 20px ;
  }
  #carousel #carousel-bullets {
    grid-area: bullets;
  }
  /* Carousel Bullet Styles */
  #carousel-bullets .carousel-bullet {
    background: none;
    border: none;
    outline: none;
    color: inherit;
    padding: 2px;
    cursor: pointer;
  }
  #carousel #carousel-bullets .fas.fa-circle {
    transition: all 0.2s linear;
  }
  #carousel #carousel-bullets .fas.fa-circle.active {
    color: grey;
  }
  /* Carousel Slide Styles */
  .carousel-slide {
    opacity: 0;
    z-index: -2;
    transition: all 0.2s linear;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .carousel-slide.active {
    opacity: 1;
    z-index: 1;
  }
  
 



